<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" type="text/css" href="view.css">
</head>
<body>

    <div class="menuBar"></div>

    <div class="content">
        <div class="middle">
            <div class="tamagotchi">
                <img src="hqdefault.jpg" alt=""/>
            </div>

            <div class="buttons">
                <div class="button">feed</div>
                <div class="button">educate</div>
                <div class="button">amuse</div>
            </div>
        </div>
    </div>

</body>
</html>