html,
body {
    width: 100%;
    margin: 0;
    background: #F7F7F7;
    font-family: 'Roboto', sans-serif;
    color: #502F03;
}

#menuBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #FFB607;
    box-shadow: 0 0px 10px 3px rgba(0, 0, 0, .15);
    z-index: 1000;
}

#logo {
    position: absolute;
    top: 6px;
    left: 22px;
    font-family: 'Lobster', cursive;
    font-size: 26px;
    transition: 0.15s;
}

#logo:hover {
    color: #F7F7F7;
    cursor: pointer;
}

.menuComponent {
    float: right;
    color: #F7F7F7;
    margin-right: 22px;
    margin-top: 13px;
}

.button {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.menuComponent .button {
    margin-left: 15px;
    transition: 0.15s;
}

.menuComponent .button:hover {
    margin-left: 15px;
    color: #502F03;
}

#menuComponenetLoggedIn {
    display: none;
}

.page {
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: none;
}

#wrapper {
    position: relative;
    width: 100%;
    display: block;
    height: 700px;
}

#svg-container {
    position: absolute;
    background-color: white;
    border-style: solid;
    right: 50%;
    left: 2%;
    top: calc(15% + 2px);
    bottom: 20%
}

#options-container {
    position: absolute;
    right: 25%;
    top: calc(15% + 2px);
    left: 50%;
    bottom: 0%;
    text-align: center;
}

#color-container {
    position: absolute;
    right: 0%;
    top: calc(15% + 2px);
    left: 75%;
    bottom: 0%;
    text-align: center;
}

#color-test {
    position: absolute;
    left: calc(50% - 40px);
    width: 80px;
    height: 10px
}

.options>p {
    text-align: center;
    width: 85px
}

.options>* {
    display: inline-block
}

@media (max-width:700px) {
    .options>p {
        font-size: 58%;
        width: 50px
    }
}

@media (max-width:575px) {
    #svg-container {
        right: 70%
    }
    #options-container {
        left: 30%;
        right: 45%
    }
    #color-container {
        left: 55%
    }
}

@media (max-width:550px) {
    #svg-container {
        right: 50%
    }
    #options-container {
        left: 50%;
        right: 0%;
        bottom: 50%
    }
    #color-container {
        left: 50%;
        top: 50%;
        bottom: 0%
    }
}

@media (max-width:380px) {
    #svg-container {
        right: 70%
    }
    #options-container {
        left: 30%;
    }
    #color-container {
        left: 30%
    }
    svg>* {
        transform: scale(0.75, 0.75) translate(+20%, +20%)
    }
}

@media (max-height:500px) {
    #save-and-links>br {
        display: none;
    }
    #save-and-links>* {
        display: inline-block;
    }
}