.options > p {
    text-align:center;
    width:100px
}
.options > * {
    display: inline-block;
}
#wrapper{
    position:relative;
    border:20px;
    padding:20px
}
#svg-container{
    position: absolute;
    height:100%;
    width:70%;
    border-width: 2px;
    border-style: solid
}
#options-container{
    position: relative;
    left:75%;
    width:25%
}
#color-container{
    position: relative;
    left:75%;
    width:25%
}
#face{
    fill:blue
}
.eyes,#torso{
    fill:black
}
#mouth{
    stroke:red;
    fill:none
}
.bodyParts {
    stroke:black;
    fill:none
}
